*, *::before, *::after  /* Selectionne tous les élements */
{
  box-sizing: border-box;
  padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    padding-top: 3.5rem;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;

    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
    background-size: 100%;
    caret-color: transparent;
}
.container0
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  align-content: center;
}
.titre
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
/* FLECHE RETOUR */
.div_fleche
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icone_retour, .retour
{
  text-decoration: none;
  color: #373A3C;
  font-size: 1.4rem;
}
.icone_actualiser
{
  color: #373A3C;
  font-size: 1.4rem;
}

a:hover {
  text-decoration: none;
}

/* NAVBAR */
.navbar.navbar-7 .navbar-toggler-icon
{
  background-image: url('https://image.flaticon.com/icons/png/512/60/60995.png');
  border-style: ridge;
  border-color: black;
}
.navbar.navbar-7
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}
.apercu_connexion
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #00FF00 !important;
}

/* PAGE DE CONNEXION */
.titre_accueil
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
input#identifiant, input#mdp
{
  width: 15rem;
  text-align: center;
}
.card_connexion
{
  max-width: 20rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.alert_connexion
{
  text-align: center;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.connexion_container
{
  text-align: center;
}
/*
background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
*/

/* INDEX */

.shadow-sm
{
  height: 100%;
  border-style: solid;
  border-color: black;
}
.titreOutil
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.texteOutil
{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.outil
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.titreAjout
{
  font-size: 2rem;
}
.imageSecteur
{
  width: 100%;
  height: 15rem;
}
.imageSecteurGrand
{
  width: 100%;
  height: 100%;
}
.avatarProfil
{
  max-width: 140px;
  height: 140px;
}

/* PAGE DISCUSSIONS */
.cardHamburger
{
  border: none;
  background: none;
}
.navbarHamburger
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
}
.hamburger_icon
{
  background-image: url(../images/design/hamburger_toggler_noir_light.png);
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  font-size: 1.9rem;
}
.background_black
{
  background: #343a40;
}

.containerFil
{
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 576px)
{
  .containerFil
  {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
  }
}
.cardDiscussion
{
  background: none;
}
.headerDiscussion
{

}
.titreDiscussion
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.08em;
  margin-bottom: 0;
}
.bodyDiscussion
{

}
/*
.containerMessage_perso
{
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10rem;
  margin-left: auto;
}
.containerMessage_interlocuteur
{
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 10rem;
}
*/
.cardMessage_perso
{
  color: white;
  background: #14E070;
}
.cardMessage_interlocuteur
{
  color: white;
  background: #383838;
}
.card-header
{
  padding: 0.3rem 0.5rem;
}
.avatar
{
  max-width: 36px;
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icone_poubelle, .icone_edit
{
  display:inline-flex;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  align-items: center;
  color:#007bff;
}
.icone_poubelle
{
  color:#dc3545;
}
.icone_poubelle:hover
{
  color:#55141b;
}
.card_discussion
{
  color: black;
}
.card_discussion:hover
{
  color: black;
  text-decoration: none;
  text-transform: none;
}
.card-footer
{
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  padding-left: 0.3rem !important;
}
.bouton_discussion
{
  width: 9.5rem;
  height: 2rem;
  font-size: 0.8rem;
}
/* APERCU MESSAGE */
.card_apercu_perso
{
  color: white;
  background: #14E070 !important;
  border: 0;
}
.card_apercu_interlocuteur
{
  color: white;
  background: #00BFFF;
  border: 0;
}
.apercu_lien
{
  position: absolute;
  width: 100%;
  height: 74%;
  left: 0;
  z-index: 1;
}
.apercu_avatar
{
  display: flex;
  justify-content: center;
}
.avatarGros
{
  max-width: 6rem;
  height: 6rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px)
{
  .avatarGros
  {
    max-width: 4.5rem;
    height: 4.5rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 576px)
{
  .avatarGros
  {
    display: none;
  }
}
.apercu_nom
{
  font-size: 1.3rem;
}
.apercu_message
{
  color: #6c757d!important;
  font-size: 80%;
  font-weight: 400;
}
/* MODIF MESSAGE */
.titreCentre
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.titreCentrePetit
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.08em;
}

/* PROFIL */
div.show-image
{
  position: relative;
  margin: 5px;
  text-align: center;
}
.avatarProfil
{
  width: 9rem;
  height: 9rem;
}
div.show-image:hover img
{
  opacity:0.5;
}
div.show-image input
{
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.show-image:hover input
{
  display: block;
}


/* PERMET D'AFFICHER LE CURSEUR DANS LES INPUTS ET TEXTAREA */
input
{
  caret-color: black;
}
textarea
{
  caret-color: black;
}

.display-4
{
  font-size: 1.4rem;
}