/* Selectionne tous les élements */
*, *::before, *::after
{
  box-sizing: border-box;
  padding: 0;
}
html
{
  scroll-behavior: smooth;
  height: 100%
}
body
{
  min-height: 100%;
  padding-top: 3.5rem;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;

  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
  background-size: 100%;
  caret-color: transparent;
}
.container0
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  align-content: center;
}
.container_wrap
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titre
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.bleu_azur
{
 color: #007bff;
}
/* --------------------------------------------- FLECHE RETOUR & ACTUALISER --------------------------------------------- */
.div_fleche
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icone_retour, .retour
{
  text-decoration: none !important;
  color: #373A3C;
  font-size: 1.4rem;
}
.icone_actualiser
{
  color: #373A3C;
  font-size: 1.4rem;
}
a:hover {
  text-decoration: none;
}

/* --------------------------------------------- NAVBAR --------------------------------------------- */
.navbar.navbar-7 .navbar-toggler-icon
{
  background-image: url('https://image.flaticon.com/icons/png/512/60/60995.png');
  border-style: ridge;
  border-color: black;
}
.navbar.navbar-7
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}
.apercu_connexion
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #00FF00 !important;
}

/* --------------------------------------------- PAGE DE CONNEXION --------------------------------------------- */
.titre_accueil
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #dc3545;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.text-petit
{
  color: #50575d ;
}
input#identifiant, input#mdp
{
  width: 15rem;
  text-align: center;
}
.card_connexion
{
  max-width: 20rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.alert_connexion
{
  text-align: center;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.connexion_container
{
  text-align: center;
}
/*
background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
*/

/* --------------------------------------------- INDEX --------------------------------------------- */

.shadow-sm
{
  border-style: solid;
  border-color: black;
  height: 100%;
}
.shadow-sm_edt
{
  border-style: solid;
  border-color: black;
}
.titreOutil
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.texteOutil
{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.cardOutil
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card_edt
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 371px;
}
.titreAjout
{
  font-size: 2rem;
}
.imageSecteur
{
  width: 100%;
  height: 15rem;
}
.imageSecteurGrand
{
  width: 100%;
  height: 22rem;
}
.avatarProfil
{
  max-width: 140px;
  height: 140px;
}

/* --------------------------------------------- PAGE DISCUSSIONS --------------------------------------------- */
.cardHamburger
{
  border: none;
  background: none !important;
}
.navbarHamburger
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
}
.hamburger_icon
{
  background-image: url(../images/design/hamburger_toggler_noir_light.png);
  border-style: ridge;
  border-color: black;
  border-width: 2px;
  font-size: 1.9rem;
}
.background_black
{
  background: #343a40;
}

.containerFil
{
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 576px)
{
  .containerFil
  {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
  }
}
.cardDiscussion
{
  background: none;
}
.titreDiscussion
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.08em;
  margin-bottom: 0;
}
/*
.containerMessage_perso
{
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10rem;
  margin-left: auto;
}
.containerMessage_interlocuteur
{
  display: flex;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 10rem;
}
*/
.cardMessage_perso
{
  color: white;
  background: #14E070;
}
.cardMessage_interlocuteur
{
  color: white;
  background: #383838;
}
.card-header
{
  padding: 0.3rem 0.5rem;
}
.avatar
{
  max-width: 36px;
  height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icone_poubelle, .icone_edit
{
  display:inline-flex;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  align-items: center;
  color:#007bff;
}
.icone_poubelle
{
  color:#dc3545;
}
.icone_poubelle:hover
{
  color:#55141b;
}
.card_discussion
{
  color: black;
}
.card_discussion:hover
{
  color: black;
  text-decoration: none;
  text-transform: none;
}
.card-footer
{
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  padding-left: 0.3rem !important;
}
.bouton_discussion
{
  width: 9.5rem;
  height: 2rem;
  font-size: 0.8rem;
}
/* --------------------------------------------- APERCU MESSAGE --------------------------------------------- */
.card_apercu_perso
{
  color: white;
  background: #14E070 !important;
  border: 0;
}
.card_apercu_interlocuteur
{
  color: white;
  background: #00BFFF;
  border: 0;
}
.apercu_lien
{
  position: absolute;
  width: 100%;
  height: 74%;
  left: 0;
  z-index: 1;
}
.apercu_avatar
{
  display: flex;
  justify-content: center;
}
.avatarGros
{
  max-width: 6rem;
  height: 6rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px)
{
  .avatarGros
  {
    max-width: 4.5rem;
    height: 4.5rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 576px)
{
  .avatarGros
  {
    display: none;
  }
}
.apercu_nom
{
  font-size: 1.3rem;
}
.apercu_message
{
  color: #6c757d!important;
  font-size: 80%;
  font-weight: 400;
}
/* --------------------------------------------- MODIF MESSAGE --------------------------------------------- */
.titreCentre
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.titreCentrePetit
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.08em;
}

/* --------------------------------------------- GESTION DE PROJET --------------------------------------------- */

/* ---------------- Equipe ---------------- */

.titreSection
{
  color: black;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 0.03em;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.hr_titre
{
  align-items: center;
  display: flex;
}
.hr_titre::before
{
  border-top: 0.0825em solid;
  content: "";
  flex: 1;
  margin-left: 20%;
  margin-right: 0.6em;
}
.hr_titre::after
{
  border-top: 0.0825em solid;
  content: "";
  flex: 1;
  margin-left: 0.6em;
  margin-right: 20%;
}

/* ---------------- Liste projets ---------------- */
.div_lien_projet a
{
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}
.header_projet
{
  color: white;
  background-color: #343a40!important;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.div_titre_projet
{
  padding: 0;
}
@media screen and (min-width: 768px)
{
  .div_titre_projet
  {
    display: inline-block;
    border: 2px solid white;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
}
.titre_projet
{
  color: #00BFFF;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.08em;
  margin-bottom: 0;
  text-align: center;
}
.div_intitule_dateDeb
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.intitule_projet
{
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-bottom: 0;
}
.div_progressbar
{
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  height: 1.2rem;
  font-size: .75rem;
  border-radius: 0.25rem;
}
.liste_etapes_vide
{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.div_etape
{
  display: flex;
  justify-content: space-between;

  font-size: 1.2rem;
}
.icone_cercle
{
  color: #00BFFF;
}
.div_hr
{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.hrPerso
{
  width: 80%;
  border-radius: 10px;
  color: black;
  background-color: black;
  opacity: 1 !important;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* ---------------- Projet ---------------- */
.muted
{
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  color: #6c757d!important;
}
.container_etape
{
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px)
{
  .container_etape
  {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.div_details_projet
{
  margin-bottom: 2rem;
}
.div_intitule
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div_etapes_finies
{
  font-size: 1.2rem;
}
@media screen and (max-width: 768px)
{
  .div_etapes_finies
  {
    font-size: 1rem;
  }
}
.icone_termine
{
  color: #3BD408;
  font-size: 1.8rem;
  margin-right: 20px;
}
.hr_vert
{
  border-left: 6px solid #3BD408;
  height: 45px;
  margin-left: 0.7rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
.div_etat_nom
{
  display: flex;
  align-items: center;
  padding: 0;
}
.div_dates_debut_fin
{
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
@media screen and (max-width: 768px)
{
  .div_dates_debut_fin
  {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 0;
  }
}

.div_etapes_encours
{
  font-size: 1.2rem;
}
@media screen and (max-width: 768px)
{
  .div_etapes_encours
  {
    font-size: 1rem;
  }
}
.icone_encours
{
  color: #00BFFF;
  font-size: 1.8rem;
  margin-right: 20px;
}
.hr_bleu
{
  border-left: 6px solid #00BFFF;
  height: 45px;
  margin-left: 0.7rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

.div_etapes_futures
{
  font-size: 1.2rem;
}
@media screen and (max-width: 768px)
{
  .div_etapes_futures
  {
    font-size: 1rem;
  }
}
.icone_futures
{
  color: lightslategray;
  font-size: 1.8rem;
  margin-right: 20px;
}
.hr_gris
{
  border-left: 6px solid lightslategray;
  height: 45px;
  margin-left: 0.7rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
/* --------------------------------------------- PROFIL --------------------------------------------- */
.texte
{
  margin-bottom: 0;
}
.container_profil
{
  width: 60%;
}
div.show-image
{
  display: flex;
  justify-content: center;
}
.div_avatar a
{
  display: block;
  width: 100%;
  height: 100%;
}
.div_avatar, .avatarProfil
{
  width: 9rem;
  height: 9rem;
}
div.div_avatar:hover img
{
  opacity:0.5;
}
.icone_camera
{
  display: none !important;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: 3.5rem;
  margin-top: -5.3rem;
  font-size: 28px;
}
.div_avatar:hover~.icone_camera
{
  display: block !important;
}
.form_infos
{
  margin: 0;
}
.form_profil_identifiant
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.container_profil_annexes
{
  display: flex;
}
.texte_identifiant_profil
{
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
}
.form_profil
{
  text-align: center;
}
.texte_infos_profil
{
  font-size: 25px;
  font-weight: 300;
}
.div_equipes
{
  flex-direction: column;
}
.div_liste_equipes
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div_liste_equipes a
{
  color: #373A3C;
  text-decoration: none;
}
.miniatureEquipe
{
  width: 6rem;
  height: 5.5rem;
}
.row_modifAvatar
{
  text-align: center;
  justify-content: center;
}
.row_form_modifAvatar
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.div_import_image
{
  background-color: lightgrey;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.div_import_image :hover
{
  cursor: pointer;
}
.input_avatar
{
  width: 100%;
  height: 100%;
}

/* --------------------------------------------- MENTIONS LEGALES --------------------------------------------- */
.titre_page_mentions
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0.04em;
  margin-bottom: 2rem;
}
.rouge
{
  color: #dc3545;
  font-weight: bold;
}
.hr_titre
{
  align-items: center;
  display: flex;
}
.hr_titre::before
{
  border-top: 0.0625em solid;
  content: "";
  flex: 1;
  margin-left: 10%;
  margin-right: 0.6em;
}
.hr_titre::after
{
  border-top: 0.0625em solid;
  content: "";
  flex: 1;
  margin-left: 0.6em;
  margin-right: 10%;
}
.card_mentions
{
  margin-top: 0vh;
  margin-bottom: 2vh;
  background-color: #e2e2e2;
  /* background-color: #272727; */
  padding: 2%;
  border-radius: 0.25rem;
}
.titre_card_mentions
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.titre_mentions
{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
.couleur
{
  /* color: #AA56F0; */
  color: #dc3545;
  font-weight: bold;
}
.liste
{
  padding-left: 2rem;
}
.liste li
{
  font-size: 1rem;
  line-height: 30px;
}
.liste li::marker
{
  color: #dc3545;
}

/* --------------------------------------------- PIED --------------------------------------------- */
.div_pied
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------------------------------- PERMET D'AFFICHER LE CURSEUR DANS LES INPUTS ET TEXTAREA -------------------------------- */
input
{
  caret-color: black;
}
textarea
{
  caret-color: black;
}
.display-4
{
  font-size: 1.4rem;
}