/* Selectionne tous les élements */
*, *::before, *::after
{
  box-sizing: border-box;
  padding: 0;
}
html
{
  scroll-behavior: smooth;
}
body
{
  padding-top: 3.5rem;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;

  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #3747ce, #0068e0, #0084ea, #009dec, #00b4eb, #03c2ec, #29cfeb, #49dbe8, #47e3e8, #4aece6, #52f3e2, #5ffbdd);
  background-size: 100%;
  caret-color: transparent;
}
.titre
{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.08em;
}
.bleu_azur
{
  color: rgb(54, 170, 255);
}
.blanc
{
  color: #fff;
}
.dark
{
  color: white;
  background-color: #343a40;
}
.darker
{
  color: white;
  background-color: rgba(25, 27, 28, 1);
}

.container0
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  align-content: center;
}

.container_calendrier
{
  padding: 2rem 3rem 2rem 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color: white;
}
@media (min-width: 768px)
{
  .container_calendrier
  {
    width: 850px;
  }
}
@media (min-width: 1094px)
{
  .container_calendrier
  {
    width: 1070px;
  }
}
@media (min-width: 1270px)
{
  .container_calendrier
  {
    width: 1240px;
  }
}
@media (min-width: 1600px)
{
  .container_calendrier
  {
    width: 1550px;
  }
}

/* ---------------------------- NAVBAR ---------------------------- */
.navbar
{
  flex-direction: row;
}

.navbar.navbar-7 .navbar-toggler-icon
{
  background-image: url('https://image.flaticon.com/icons/png/512/60/60995.png');
  border-style: ridge;
  border-color: black;
}
.navbar.navbar-7
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}
.apercu_connexion
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #00FF00 !important;
}

/* ---------------------------- MODAL ---------------------------- */
.modal-header
{
  display: inline-block !important;
  padding: 8px 12px 8px 16px;
}
.modal-header .close
{
  /* margin-top: -1rem; */
  padding: 0;
  margin: 0;
  margin-top: 4px;
  
}
.close:focus, .close:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.p_infos_evenements
{
  font-weight: 300;
}
.div_modal_title
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#modalTitle
{
  margin-left: 5px;
}
.modal-title
{
  font-weight: 300;
}
.div_modal_description
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div_modal_date
{
  display: flex;
  justify-content: center;
}
.div_modal_couleur
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.form-control:focus
{
  color: #ffffff;
  background-color: rgba(25, 27, 28, 1);
  border-color: #5cb3fd;
  outline: none;
}
.modal-footer
{
  padding: 10px;
}
/* Input Couleur */
.select_couleur
{
  width: 20%;
  height: 100% !important;
}
.input_couleur_bleu
{
  background-color: #007bff;
}
.input_couleur_rouge
{
  background-color: #d9534f;
}
.input_couleur_vert
{
  background-color: #28a745;
}
.input_couleur_jaune
{
  background-color: #d29e00;
}

.div_participant
{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.label_participant
{
  background: rgba(25, 27, 28, 1);
  border: solid 1px white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0;
}
.bouton_delete_participant
{
  padding: 0;
  border: none;
  background: none;
}
.bouton_delete_participant:focus
{
  outline: none;
}
.icon_close
{
  color: #d9534f !important;
  margin-left: 8px;
}
.icon_close:hover
{
  color: #fff !important;
  margin-left: 8px;
}
.requis::after
{
  color: #e32;
  content: ' *';
  display: inline;
}
.liste li
{
  font-size: 1.15rem;
  line-height: 25px;
}
.liste li::marker
{
  color: #dc3545;
}


/* ---------------------------- BOOTSTRAP ---------------------------- */

.btn-outline-primary
{
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn-outline-primary:hover
{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-success
{
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}
.btn-outline-success:hover
{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-outline-danger
{
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f;
}
.btn-outline-danger:hover
{
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

/* ---------------------------- FULLCALENDAR ---------------------------- */

.fc-time-grid-event
{
  overflow: hidden;
  margin-bottom: 1px;
}
.fc-event .fc-bg
{
  background: inherit
}
.fc-toolbar
{
  text-transform: capitalize;
}